<div id="app-container">

<h1>The Dashboard</h1>

<% if current_user.companies.any? %>

  <% current_user.companies.each do |company| %>

    <%= link_to admin_url(subdomain: company.subdomain) do %>
      <h2><%= company.name %> (<%= pluralize(company.jobs.count,'job') %>)</h2>
    <% end %>

    <% if company.jobs.any? %>

      <ul>
        <% company.jobs.each do |job| %>
          <li><%= link_to job.title, admin_job_url(job, subdomain: company.subdomain) %></li>
        <% end %>
      </ul>

    <% end %>

    <%= link_to "Add new job", new_admin_job_url(subdomain: company.subdomain), class: 'button' %>

  <% end %>

<% end %>

<%= link_to "Add new company", new_company_url(subdomain: false) , class: 'button' %>

</div>