<%= provide(:title, 'Pricing') %>

<div class="lead-in-header">
  <div class="content-wrapper">
    <h1 class="page-header">Better Hiring. Less Hassle.</h1>
    <p>Free trial. No setup costs. Cancel whenever you want.</p>
  </div>
</div>

<div class="content-wrapper l-pricing monthly">

  <!-- <h2 class="monthly">Get started today: Free 14-day trial</h2>
  <p class="monthly">Sign up in 60 seconds.</p>

  <h2 class="yearly">Get started today: 12 months for the price of 10</h2>
  <p class="yearly">Sign up in 60 seconds.</h2> -->

  <div class="switch-toggle switch-pinpoint">
    <input id="monthly" name="interval" type="radio" value="monthly" checked>
    <label for="monthly" onclick="">Monthly</label>
    <input id="yearly" name="interval" type="radio" value="yearly">
    <label for="yearly" onclick="">Yearly</label>
    <a></a>
  </div>

  <div class="pricing-plans">

    <div class="plan">

      <header>
        <h2 class="title">Basic</h2>

        <div class="price monthly">
          <span class="currency">&dollar;</span>
          <span class="amount"><%= Company::PLANS[:basic_monthly][:price] %></span> /month
        </div>

        <div class="price yearly">
          <span class="currency">&dollar;</span>
          <span class="amount"><%= Company::PLANS[:basic_yearly][:price] %></span> /year
        </div>

        <%= link_to 'Start Free Trial', register_path, class: 'button-blue' %>
      </header>

      <div class="overview">
        <p>Designed for very small businesses looking to take the first steps towards improving the way they hire.</p>
        <ul class="specification">
          <li><span>2</span>Jobs</li>
          <li><span>2</span>Users</li>
          <li><span>&#10004;</span>Career Portal</li>
          <li><span>&#10004;</span>Candidate Management</li>
        </ul>
      </div>

    </div>

    <div class="plan popular">
      <header>
        <h2 class="title">Professional</h2>

        <div class="price monthly">
          <span class="currency">&dollar;</span>
          <span class="amount"><%= Company::PLANS[:professional_monthly][:price] %></span> /month
        </div>

        <div class="price yearly">
          <span class="currency">&dollar;</span>
          <span class="amount"><%= Company::PLANS[:professional_yearly][:price] %></span> /year
        </div>

        <%= link_to 'Start Free Trial', register_path, class: 'button-green' %>
      </header>
     
       <div class="overview">
          <p>Designed for growing businesses looking to improve the way they find, interview and hire the right people.</p>
          <ul class="specification">
            <li><span>10</span>Jobs</li>
            <li><span>5</span>Users</li>
            <li><span>&#10004;</span>Career Portal</li>
            <li><span>&#10004;</span>Candidate Management</li>
            <li><span>&#10004;</span>Interview Scheduling</li>
            <li><span>&#10004;</span>Recruitment Resources</li>
          </ul>
        </div>

    </div>

    <div class="plan">

      <header>
        <h2 class="title">Enterprise</h2>

        <div class="price monthly">
          <span class="currency">&dollar;</span>
          <span class="amount"><%= Company::PLANS[:enterprise_monthly][:price] %></span> /month
        </div>

        <div class="price yearly">
          <span class="currency">&dollar;</span>
          <span class="amount"><%= Company::PLANS[:enterprise_yearly][:price] %></span> /year
        </div>

        <%= link_to 'Start Free Trial', register_path, class: 'button-blue' %>

      </header>

      <div class="overview">
        <p>Designed for larger organisations looking for custom recruitment workflows, platform branding and telephone support.</p>
        <ul class="specification">
          <li><span>&infin;</span>Jobs</li>
          <li><span>&infin;</span>Users</li>
          <li><span>&#10004;</span>Branded Career Portal</li>
          <li><span>&#10004;</span>Candidate Management</li>
          <li><span>&#10004;</span>Interview Scheduling</li>
          <li><span>&#10004;</span>Recruitment Resources</li>
          <li><span>&#10004;</span>Telephone Support</li>
          <li><span>&#10004;</span>Full White Labelling</li>
          <li><span>&#10004;</span>Custom Workflows</li>
        </ul>
      </div>

    </div>

  </div>

  <div class="pricing-faq">
    <div class="content-wrapper">
      <h2 class="page-header center">FAQ</h2>
      <div class="row">

        <div class="col-1-2">
          <div class="faq-item">
            <p class="question">How does the free trial work?</p>
            <p class="answer">After you sign up for your trial, you get access to all of the Professional plan features for 14 days. If you'd like to trial a different plan, just <a href="mailto:support@pinpointhq.com">let us know</a>.</p>
          </div>
          <div class="faq-item">
            <p class="question">Is the trial actually free?</p>
            <p class="answer">Absolutely. You don't even need to enter credit card details to start a trial with Pinpoint, so you can test us out with no obligation to purchase.</p>
          </div>
          <div class="faq-item">
            <p class="question">What happens when my trial finishes?</p>
            <p class="answer">You can choose one of our three plans and setup a paid subscription directly from within your account. Your trial account will become permanent and all of your data will remain intact.<br /><br />
            If you decide not to setup a subscription at the end of your trial, your account will expire.</p>
          </div>
          <div class="faq-item">
            <p class="question">I've got more questions</p>
            <p class="answer">If you've got any further questions please don't hesitate to <a href="mailto:support@pinpointhq.com"> get in touch</a> - we'd love to help.</p>
          </div>
        </div>

        <div class="col-1-2">
          <div class="faq-item">
            <p class="question">How long are your contracts?</p>
            <p class="answer">Pinpoint plans are paid either month-to-month or yearly. You can start or stop your subscription or upgrade/downgrade your plan at any time.</p>
          </div>
          <div class="faq-item">
            <p class="question">Can I pay by invoice?</p>
            <p class="answer">We can issue / accept payment via invoices if you sign up for the Enterprise Yearly plan. All other plans must be paid for with a debit / credit card.</p>
          </div>
          <div class="faq-item">
            <p class="question">What's the refund policy?</p>
            <p class="answer">We don't offer refunds as Pinpoint is a subscription service. You can cancel your account at any point and you'll never be charged again.</p>
          </div>
          
        </div>

      </div>
    </div>
  </div>

</div>
