<%= provide(:title, 'Pricing') %>

<div class="content-wrapper l-pricing monthly">

  <h1 class="page-header">Simple Pricing</h1>

  <h2 class="monthly">Get started today: Free 14-day trial</h2>
  <p class="monthly">Sign up in 60 seconds.</p>

  <h2 class="yearly">Get started today: 12 months for the price of 10</h2>
  <p class="yearly">Sign up in 60 seconds.</h2>

  <div class="switch-toggle switch-pinpoint">
    <input id="monthly" name="interval" type="radio" value="monthly" checked>
    <label for="monthly" onclick="">Monthly</label>
    <input id="yearly" name="interval" type="radio" value="yearly">
    <label for="yearly" onclick="">Yearly</label>
    <a></a>
  </div>

  <div class="pricing-plans">

    <div class="plan">

      <h2 class="title">Basic</h2>

      <div class="price monthly">
        <span class="currency">&dollar;</span>
        <span class="amount"><%= Company::PLANS[:basic_monthly][:price] %></span>/ month
      </div>

      <div class="price yearly">
        <span class="currency">&dollar;</span>
        <span class="amount"><%= Company::PLANS[:basic_yearly][:price] %></span>/ year
      </div>

      <ul class="specification">
        <li>Unbranded</li>
        <li>2<span>Job Postings</span></li>
        <li>1<span>Admin</span></li>
      </ul>

      <%= link_to 'Sign Up', register_path, class: 'button-blue' %>

    </div>

    <div class="plan popular">

      <h2 class="title">Professional</h2>

      <div class="price monthly">
        <span class="currency">&dollar;</span>
        <span class="amount"><%= Company::PLANS[:professional_monthly][:price] %></span>/ month
      </div>

      <div class="price yearly">
        <span class="currency">&dollar;</span>
        <span class="amount"><%= Company::PLANS[:professional_yearly][:price] %></span>/ year
      </div>

      <p class="pop-plan">Most Popular Plan</p>

      <ul class="specification">
        <li>White Labelled</li>
        <li>10<span>Job Postings</span></li>
        <li>5<span>Admins</span></li>
      </ul>

      <%= link_to 'Sign Up', register_path, class: 'button-green' %>

    </div>

    <div class="plan">

      <h2 class="title">Enterprise</h2>

      <div class="price monthly">
        <span class="currency">&dollar;</span>
        <span class="amount"><%= Company::PLANS[:enterprise_monthly][:price] %></span>/ month
      </div>

      <div class="price yearly">
        <span class="currency">&dollar;</span>
        <span class="amount"><%= Company::PLANS[:enterprise_yearly][:price] %></span>/ year
      </div>

      <ul class="specification">
        <li>Fully Brandable</li>
        <li>Unlimited<span>Job Postings</span></li>
        <li>Unlimited<span>Admins</span></li>
        <li>24hr<span>Telephone Support</span></li>
      </ul>

      <%= link_to 'Sign Up', register_path, class: 'button-blue' %>

    </div>

  </div>

</div>
