<section class="hero">
  <div class="content pad-vert-medium">
    <h2><%= @company.name %></h2>
    <h1>Work at <%= @company.name %></h1>
    <a class="button button-white" href="#">View All Open Positions</a>
  </div>
</section>

<section class="sub-nav">
  <div class="content">
    <ul>
      <li><%= link_to 'Job Description', job_path %></li>
      <li><%= link_to 'Requirements', job_path, :anchor => "requirements" %></li>
      <li><%= link_to 'Benefits', job_path, :anchor => 'benefits' %></li>
      <li><%= link_to 'Apply for this job', apply_job_url(@job, subdomain: @company.subdomain) %></li>
    </ul>
  </div>
</section>

<section class="overview" id="overview">
  <div class="content pad-vert-medium">
    <div class="intro">
      <h4>Apply for <%= @job.title %></h4>
    </div>
    <%= form_for @application, url: apply_job_url(@job) do |f| %>

      <%= render 'shared/error_list', model: @application %>

      <div class="field-row">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field-row">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="action">
        <%= f.submit 'Apply', class: "button" %>
      </div>

    <% end %>
  </div>
</section>
