<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; <span>Edit Company Details</span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-3-12">
      <%= render 'shared/admin/settings_sidebar' %>
    </div>

    <div class="col-9-12">

		  <div class="app-container">

				<h2 class="page-header">Edit Company</h2>

					<%= form_for @company, url: admin_url do |f| %>

					  <%= render 'shared/error_list', model: @company %>

					  <%= render 'shared/companies/form', f: f %>

					  <div class="actions">
					    <%= f.submit 'Save Changes', class: "button-green" %>
					  </div>

					<% end %>

			</div>

		</div>

	</div>

</div>