<h1>The Admin Dashboard page for the company</h1>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @company.subdomain %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p><%= link_to 'View Jobs', admin_jobs_url(subdomain: @company.subdomain) %></p>
<p><%= link_to 'New Job', new_admin_job_url(subdomain: @company.subdomain) %></p>