<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; <span>Dashboard</span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-8-12">

      <div id="app-container">

        <h2 class="page-header">Open Positions</h2>

        <% @company.jobs.each do |job| %>

          <div class="job-widget">
            <%= link_to admin_job_url(job, subdomain: @company.subdomain) do %>
            <header>
              <div class="left">
                <h2><%= job.title %></h2>
              </div>
              <div class="right">
                <p><%= job.job_type %></p><p><%= job.location %></p>
              </div>
            </header>
            <% end %>
            <div class="stage-counter row">
              <div class="col-1-5">
                <p class="stage-count"><%= not_zero(job.applications.applied.count) %></p>
                <p class="stage-name">Applied</p>
              </div>
              <div class="col-1-5">
                <p class="stage-count"><%= not_zero(job.applications.rejected.count) %></p>
                <p class="stage-name">Rejected</p>
              </div>
              <div class="col-1-5">
                <p class="stage-count"><%= not_zero(job.applications.under_review.count) %></p>
                <p class="stage-name">Review</p>
              </div>
              <div class="col-1-5">
                <p class="stage-count"><%= not_zero(job.applications.interviewing.count) %></p>
                <p class="stage-name">Interviewing</p>
              </div>
              <div class="col-1-5">
                <p class="stage-count"><%= not_zero(job.applications.hired.count) %></p>
                <p class="stage-name">Hired</p>
              </div>
            </div>
            <footer>
              <ul>
                <li><%= link_to 'Manage', admin_job_url(job, subdomain: @company.subdomain) %></li>
                <li><%= link_to 'Edit', edit_admin_job_url(job, subdomain: @company.subdomain) %></li>
                <li><%= link_to 'View', job_url(job, subdomain: @company.subdomain) %></li>
                <li class="right time-count">
                  <% if job.applications.count > 0 %>
                    Last application received: <%= time_ago_in_words(job.applications.last.created_at) %> ago
                  <% else %>
                    No applications yet
                  <% end %>
                </li>
              </ul>
            </footer>
          </div>

        <% end %>

      </div>

    </div>

    <div class="col-4-12">

      <div id="app-container">

        <h2 class="page-header"><%= @company.name %></h2>

        <div class="dashboard-actions">
          <ul>
            <li><%= link_to 'View Company Page', root_url(subdomain: @company.subdomain),
                    class: 'button-yellow' %></li>
            <li><%= link_to 'Edit Company', admin_edit_url(subdomain: @company.subdomain),
                    class: 'button-green' %></li>
            <li><%= link_to 'Create new job', new_admin_job_url(subdomain: @company.subdomain),
                    class: 'button-blue' %></li>
          </ul>
        </div>

      </div>

      <div id="app-container">

        <div class="dashboard-actions">
          <h2 class="page-header">Get Started</h2>
          <ul>
            <li>Upload your company logo</li>
            <li>Update your company profile</li>
            <li class="strikethrough">Post your first job</li>
            <li>Invite team members</li>
          </li>
        </div>

      </div>

      <div id="app-container">

        <div class="dashboard-actions">
          <h2 class="page-header"><%= @company.plan_id %> Plan</h2>
          <p>You're currently on the <%= @company.plan_id %> plan. You've got 5 days to upgrade. You're using the following:</p>
          <ul>
            <li><%= @company.jobs.count %> of 5 Jobs</li>
            <li><%= @company.company_administrators.count %> of 5 Users</li>

        </div>

      </div>

    </div>

  </div>

</div>