<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; <span>Dashboard</span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-8-12">

      <div id="app-container">

        <h2 class="page-header">Open Positions</h2>

        <% @company.jobs.each do |job| %>

          <div class="job-widget">
            <%= link_to admin_job_url(job, subdomain: @company.subdomain) do %>
            <header>
              <div class="left">
                <h2><%= job.title %></h2>
              </div>
              <div class="right">
                <p><%= job.job_type %></p><p><%= job.location %></p>
              </div>
            </header>
            <% end %>
            <footer>
              <ul>
                <li><%= link_to 'View', job_url(job, subdomain: @company.subdomain) %></li>
                <li><%= link_to 'Edit', edit_admin_job_url(job, subdomain: @company.subdomain) %></li>
                <li class="right">Last application received: 10 minutes ago</li>
              </ul>
            </footer>
          </div>

        <% end %>

      </div>

    </div>

    <div class="col-4-12">

      <div id="app-container">

        <h2 class="page-header"><%= @company.name %></h2>

        <div class="dashboard-actions">
          <ul>
            <li><%= link_to 'Create new job', new_admin_job_url(subdomain: @company.subdomain), 
                    class: 'button-blue' %></li>
            <li><%= link_to 'Edit Company', admin_edit_url(subdomain: @company.subdomain), 
                    class: 'button-green' %></li>
            <li><%= link_to 'View Company Page', root_url(subdomain: @company.subdomain), 
                    class: 'button-yellow' %></li>  
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>