<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; <span>Subscriptions</span>
  </div>

</div>

<div class="content-wrapper">

  <%= render 'shared/flash_message' %>

  <h2>Subscription Status</h2>

  <h3>Plan</h3>
  <p><%= @company.plan_id %></p>

  <h3>Update Plan</h3>
  <%= form_for @company, url: admin_subscription_plan_url(subdomain: @company.subdomain) do |f| %>

    <%= render 'shared/error_list', model: @company %>

    <div class="field-row">
      <%= f.select :plan_id, options_for_select([['Basic Monthly','basic_monthly'],['Basic Yearly','basic_yearly']]) %>
    </div>

    <%= f.submit 'Update Plan' %>

  <% end %>

  <h3>Payment Details</h3>
  <p>Card: XXXX-XXXX-XXXX-last4</p>
  <p>Last Payment:</p>
  <p>Next Payment:</p>
  <p>Amount</p>

  <h3>Update Payment Details</h3>

  <%= form_for @company, url: admin_subscription_billing_url(subdomain: @company.subdomain), html: { id: 'card-details-form' } do |f| %>

    <%= render 'shared/error_list', model: @company %>

    <% if @company.stripe_card_token %>

      <p>Credit card acceptance is pending.</p>

    <% else %>

      <div class="field-row">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, name: nil %>
      </div>

      <div class="field-row">
        <%= label_tag :card_code, "Card Security Code (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
      </div>

      <div class="field-row">
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
      </div>

      <div class="field-row">
        <%= f.select :plan_id, options_for_select([['Basic Monthly','basic_monthly'],['Basic Yearly','basic_yearly']]) %>
      </div>

    <% end %>

    <%= f.hidden_field :stripe_card_token %>

    <div id="stripe-error" class="alert alert-error" style="display:none">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>

    <%= f.submit 'Update Payment Information' %>

  <% end %>

</div>