<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; Account Management &rarr; <span>Subscription</span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-3-12">
      <%= render 'shared/admin/settings_sidebar' %>
    </div>

    <div class="col-9-12">

      <div class="app-container">

        <%= render 'shared/flash_message' %>

        <section>
          <h2 class="page-header">Your Subscription Status</h2>

          <% if @company.active_subscription %>

            <p class="subscription-details">You're currently on a <strong><%= Company::PLANS[@company.plan_id.to_sym][:name].downcase %></strong> plan, paying <strong>&dollar;<%= Company::PLANS[@company.plan_id.to_sym][:price] %></strong> per <%= Company::PLANS[@company.plan_id.to_sym][:interval] %>.</p>

            <% if @company.next_invoice? # Put this if here in case for some reason it can't retrieve it %>
              <p class="subscription-details">Your next payment date is the <strong><%= format_date(Time.at(@company.next_invoice.date).to_datetime) %></strong>.</p>
            <% end %>

          <% elsif @company.on_trial? %>

            <p class="subscription-details">You're currently on a trial plan.  Your trial ends on <%= format_date(@company.created_at + 2.weeks) %>.</p>

          <% else %>

            <p class="subscription-details">You no longer have an active subscription.</p>

          <% end %>

        </section>

        <% if @company.active_subscription %>

          <section class="subscription-container">

            <p>You can switch to a different plan at any time.</p>

            <% Company::PLANS.each do |plan_id, plan| %>

              <% if plan[:interval] == "month" && @company.plan_id.to_sym != plan_id %>

                <div class="subscription-choice">
                  <p class="plan-relation"><%= plan[:index] < Company::PLANS[@company.plan_id.to_sym][:index] ? "Downgrade" : "Upgrade" %></p>
                  <p class="plan-title"><%= plan[:type] %></p>
                  <p><strong>&dollar;<%= plan[:price] %></strong> per <%= plan[:interval] %></p>
                  <%= button_to "Switch To #{plan[:type]}", admin_subscription_plan_url(subdomain: @company.subdomain), params: { plan_id: plan_id }, method: :patch, class: 'button-blue'  %>
                </div>

              <% end %>

            <% end %>

          </section>

          <section class="subscription-container">

            <p>Or choose yearly and save $$$</p>

            <% Company::PLANS.each do |plan_id, plan| %>

              <% if plan[:interval] == "year" && @company.plan_id.to_sym != plan_id %>

                <div class="subscription-choice">
                  <p class="plan-relation"><%= plan[:index] < Company::PLANS[@company.plan_id.to_sym][:index] ? "Downgrade" : "Upgrade" %></p>
                  <p class="plan-title"><%= plan[:type] %></p>
                  <p><strong>&dollar;<%= plan[:price] %></strong> per <%= plan[:interval] %></p>
                  <%= button_to "Switch To #{plan[:type]}", admin_subscription_plan_url(subdomain: @company.subdomain), params: { plan_id: plan_id }, method: :patch, class: 'button-blue'  %>
                </div>

              <% end %>

            <% end %>

          </section>

        <% end %>

        <section class="payment-details">

          <h2 class="page-header">Your Payment Details</h2>

          <% if @company.active_subscription %>

            <p class="subscription-details">Your current payment method is <strong><%= @company.stripe_card_brand %></strong> ending in <strong><%= @company.stripe_card_last_4 %></strong>.</p>

          <% end %>

          <%= form_for @company, url: admin_subscription_billing_url(subdomain: @company.subdomain), html: { id: 'card-details-form' } do |f| %>

            <%= render 'shared/error_list', model: @company %>

            <% if @company.stripe_card_token %>

              <p>Credit card acceptance is pending.</p>

            <% else %>

              <div class="field">
                <%= label_tag :card_number, "Card Number" %>
                <div class="input-right">
                  <%= text_field_tag :card_number, nil, name: nil, placeholder: "Debit / Credit Card Number" %>
                </div>
              </div>

              <div class="field">
                <%= label_tag :card_code, "Security Code (CVV)" %>
                <div class="input-right small-input">
                  <%= text_field_tag :card_code, nil, name: nil, placeholder: "CVV" %>
                </div>
              </div>

              <div class="field">
                <%= label_tag :card_month, "Card Expiration" %>
                <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
                <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
              </div>

              <% if !@company.active_subscription? %>

                <div class="field-row">
                  <%= f.select :plan_id, Company::PLANS.map{|k,v| [v[:name],k]} %>
                </div>

              <% end %>

            <% end %>

            <%= f.hidden_field :stripe_card_token %>

            <div id="stripe-error" class="alert alert-error" style="display:none">
              <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
            </div>

            <%= f.submit 'Update Payment Information', class: "button-green" %>

          <% end %>

        </section>

        <% if @company.active_subscription %>

          <section>

            <h2 class="page-header">Cancel Subscription</h2>

            <%= button_to "Cancel Subscription", admin_subscription_cancel_url(subdomain: @company.subdomain), method: :patch, class: 'button-blue'  %>

          </section>

        <% end %>

      </div>

    </div>

  </div>

</div>