<div class="sub-header">

	<div class="content-wrapper">
		<%= link_to "#{@company.name}", admin_url(subdomain: @company.subdomain) %> &rarr; Jobs &rarr; <%= link_to @job.title, admin_job_url(@job, subdomain: @company.subdomain) %> &rarr; <span><%= @application.name %></span>
	</div>

</div>

<div class="content-wrapper">

	<div id="app-container">

		<div class="applicant-header">s
			<%= image_tag(@profile.picture_url) ss			<h1><%= @application.name %></hsf1>

			<ul>
			  <li><%= button_to 'Reject', reject_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-red' %></li>
			  <!-- <li><%= button_to 'Review', review_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-yellow' %></li> -->
			  <li><%= button_to 'Interview', interview_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-blue' %></li>
			 <!--  <li><%= button_to 'Hire', hire_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-green' %></li> -->
			</ul>

		</div>

		<div class="linkedin">

			<p class="summary"><% @profile.summary %></p>

			<% @profile.positions.all.each do |position| %>

			<section>
				<div class="job-details">
					<div class="left">
						<p class="job-title"><%= position.title %></p>
						<p class="job-company"><%= position.company.name %></p>
					</div>
					<div class="right">
						<p class="job-dates">
							<%= linkedin_date(position.start_date.month) %> <%= position.start_date.year %>  -
							<% if position.is_current %>
								Present
							<% else %>
								<%= linkedin_date(position.end_date.month) %> <%= position.end_date.year %>
							<% end %>
							<span>(Need to sort this out)</span>
						</p>
						<p class="job-location">
						</p>
					</div>
				</div>
				<p class="job-description"><%= position.summary %></p>
			</section>

			<% end %>

			<!-- <section>
				<div class="job-details">
					<div class="left">
						<p class="job-title">Founding Director</p>
						<p class="job-company">Altus Analytics Ltd</p>
					</div>
					<div class="right">
						<p class="job-dates">August 2011 - Present <span>(3 years 5 months)</span></p>
						<p class="job-location">Jersey, United Kingdom</p>
					</div>
				</div>
				<p class="job-description">Using my past experience as a professional online poker player I was able to analyse data regarding e-gaming traffic and write software to aid game selection for professional poker players.<br /><br />

				This manifested into a poker coaching/staking/software business that focusses on managing the continued professional development of other professional poker players.<br /><br />

				Co-run with a friend from Cambridge, this takes the form of maximising their hourly rate whilst improving their mental side with respect to both working ethic and handling variance.</p>
			</section>

			<section>
				<div class="job-details">
					<div class="left">
						<p class="job-title">Lead Developer</p>
						<p class="job-company">Infuse Internet</p>
					</div>
					<div class="right">
						<p class="job-dates">May 2012 - September 2013 <span>(1 years 5 months)</span></p>
						<p class="job-location">Jersey, United Kingdom</p>
					</div>
				</div>
				<p class="job-description">I built web apps and websites using LAMP architecture so have a decent knowledge of SQL, PHP, HTML, CSS and jQuery. I'm a big fan of open source technologies and like using Wordpress as a CMS.</p>
			</section> -->

		</div>

	</div>

</div>