<div class="sub-header">

	<div class="content-wrapper">
		<%= link_to "#{@company.name}", admin_url(subdomain: @company.subdomain) %> &rarr; Jobs &rarr; <%= link_to @job.title, admin_job_url(@job, subdomain: @company.subdomain) %> &rarr; <span><%= @application.name %></span>
	</div>

</div>

<div class="content-wrapper">

	<div class="row">

    <div class="col-8-12">

			<div id="app-container">

				<div class="applicant-header">
					<% if @profile %><%= image_tag(@profile.picture_url)	%><% end %><h1><%= @application.name %></h1>

					<ul>
					  <!-- <li><%= button_to 'Reject', reject_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-red' %></li> -->
					  <!-- <li><%= button_to 'Review', review_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-yellow' %></li> -->
					  <li><%= button_to 'Interview', interview_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-blue' %></li>
					 <!--  <li><%= button_to 'Hire', hire_admin_job_application_url(@job,@application, subdomain: @company.subdomain), method: :patch, class: 'button-green' %></li> -->
					</ul>

				</div>

				<div class="tabs applicant-tabs">

					<ul class="tab-links">
						<li><a href="#tab-1"><i class="icon-notepad"></i></a></li>
						<li><a href="#tab-2"><i class="socicon-linkedin"></i></a></li>
						<li><a href="#tab-3"><i class="socicon-twitter"></i></a></li>
						<li><a href="#tab-4"><i class="socicon-facebook"></i></a></li>
					</ul>

					<div id="tab-1" class="user-submitted">
						<h2 class="page-header">Overview</h2>
						<p><strong>Address:</strong> <%= @application.address %></p>
						<p><strong>Phone:</strong> <%= @application.phone %></p>
						<p><strong>Summary:</strong> <%= @application.summary %></p>

						<h2>Resume</h2>
						<% if @application.resume.present? %>
							<%= link_to 'Download Resume', @application.resume.url %>
						<% else %>
							<p>There is no resume</p>
						<% end %>

						<h2>Attachments</h2>
						<% if @application.attachments.any? %>
							<ul>
								<% @application.attachments.each do |a| %>
									<li><%= link_to a.attachment.file.filename, a.attachment.url %></li>
								<% end %>
							</ul>
						<% else %>
							<p>There are no attachments</p>
						<% end %>
					</div>

					<!-- LINKEDIN -->
					<div id="tab-2" class="linkedin">
						<% if !@profile %>
							<p class="summary">No LinkedIn Information could be found for this candidate</p>
						<% else %>
							<p class="summary"><%= @profile.summary %></p>

							<% @profile.positions.all.each do |position| %>
								<section>
									<div class="job-details">
										<div class="left">
											<p class="job-title"><%= position.title %></p>
											<p class="job-company"><%= position.company.name %></p>
										</div>
										<div class="right">
											<p class="job-dates">
												<%= linkedin_date(position.start_date.month) %> <%= position.start_date.year %>  -
												<% if position.is_current %>
													Present
												<% else %>
													<%= linkedin_date(position.end_date.month) %> <%= position.end_date.year %>
												<% end %>
												<span>(Need to sort this out)</span>
											</p>
											<p class="job-location">
											</p>
										</div>
									</div>
									<p class="job-description"><%= position.summary %></p>
								</section>
							<% end %>
						<% end %>
					</div>


					<div id="tab-3" class="twitter">
						Twitter
					</div>

					<div id="tab-4" class="facebook">
						Facebook
					</div>

				</div>

			</div>

		</div>

		<div class="col-4-12">
      <div id="app-container">
      	<section class="notes">

		      <h2 class="page-header">Notes</h2>
	        <% @application.notes.order("created_at desc").all.each do |note| %>
						<div class="candidate-note">
							<div class="note-content">
								<%= note.content.html_safe %>
							</div>
							<div class="note-details">
								<p class="note-by left">by <span><%= User.find(note.user_id).full_name %></span></p>
								<p class="note-date right"><%= time_ago_in_words(note.created_at) %> ago</p>
							</div>
						</div>
					<% end %>

					<!-- NEW NOTE FORM -->
					<%= form_for Note.new, url: admin_job_application_notes_url(@job, @application) do |f| %>
						<%= f.text_area :content, rows: 4, class: 'trumbowyg-minimal' %>
						<%= f.submit class: 'button-green' %>
					<% end %>

				</section>
      </div>
    </div>

	</div>

</div>