<%= form_for @job, url: admin_jobs_url do |f| %>

  <%= render 'shared/error_list', model: @job %>

  <div class="field">
    <%= f.label :title %>
    <div class="input-right">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description %>
    <div class="input-right">
      <%= f.text_area :description, rows: 5 %>
    </div>
  </div>

  <div class="field">
    <%= f.label :requirements %>
    <div class="input-right">
      <%= f.text_area :requirements, rows: 5 %>
    </div>
  </div>

  <div class="field">
    <%= f.label :benefits %>
    <div class="input-right">
      <%= f.text_area :benefits, rows: 5 %>
    </div>
  </div>

  <div class="field">
    <%= f.label :location %>
    <div class="input-right">
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="field">
    <%= f.label :remote %>
    <div class="input-right">
      <%= f.check_box :remote %>
    </div>
  </div>

  <div class="field">
    <%= f.label :job_type %>
    <div class="input-right">
      <%= f.text_field :job_type %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button-blue" %>
  </div>

<% end %>
