<%= provide(:title, 'Job Management Interface') %>

<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; Jobs &rarr; <span><%= @job.title %></span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-8-12">

      <div class="app-container">

        <div class="tabs jmi-tabs">

          <ul class="tab-links">
            <% @stages.each do |stage| %>
              <li><a href="#stage-<%= stage[:stage] %>"><%= stage[:name] %> (<%= stage[:applications].count %>)</a></li>
            <% end %>
          </ul>

          <% @stages.each do |stage| %>

            <div id="stage-<%= stage[:stage] %>" class="applicant-grid">

              <% if stage[:applications].any? %>

                <% stage[:applications].each do |application| %>

                  <div class="applicant-widget">
                    <div class="applicant-info">
                      <h2><%= application[:name] %></h2>
                      <p><%= application[:phone] %></p>
                      <p><%= application[:email] %></p>
                      <%= link_to "View", admin_job_application_url(@job, application, subdomain: @company.subdomain) %>
                    </div>
                    <footer>
                      <ul class="applicant-data-sources">
                        <li><i class="icon-notepad"></i></li>
                        <li><i class="socicon-linkedin"></i></li>
                        <li><i class="socicon-facebook"></i></li>
                        <li><i class="socicon-twitter"></i></li>
                      </ul>
                    </footer>
                  </div>

                <% end %>

              <% else %>

                <p>There are no applications</p>

              <% end %>

            </div>

          <% end %>

        </div>

      </div>

    </div>

    <div class="col-4-12">
      <div class="app-container">
        <h2 class="page-header">Job Stats</h2>
        <p><%= @job.applications.count %> Applications</p>
        <p>Posted <%= distance_of_time_in_words(@job.created_at, Time.now) %> ago</p>
      </div>
      <div class="app-container">
        <h2 class="page-header">Link to this Job</h2>
        <input type="text" value="<%= root_url(subdomain: @company.subdomain) %>jobs/<%= @job.id %>">
        <div class="job-share">
          <a href="http://www.linkedin.com"><i class="socicon-linkedin"></i></a>
          <a href="http://www.facebook.com"><i class="socicon-facebook"></i></a>
          <a href="http://www.twitter.com"><i class="socicon-twitter"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>