<%= provide(:title, 'Job Management Interface') %>

<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; Jobs &rarr; <span><%= @job.title %></span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-8-12">

      <div id="app-container">

        <% @stages.each do |stage| %>

            <h2 class="page-header"><%= stage[:name] %></h2>

            <% if stage[:applications].any? %>

                <% animCounter = 0 %>

                <% stage[:applications].each do |application| %>

                  <% animCounter += 0.2 %> 

                  <div class="job-widget wow fadeIn" data-wow-delay="<%= animCounter %>s">
                    <%= link_to admin_job_application_url(@job, application, subdomain: @company.subdomain) do %>
                    <header>
                      <div class="left">
                        <h2><%= application[:name] %></h2>
                      </div>
                      <div class="right">
                        <p><%= application[:phone] %></p><p><%= application[:email] %></p>
                      </div>
                    </header>
                    <% end %>
                    <footer>
                      <ul>
                        <li class="right">Download CV</li>
                      </ul>
                    </footer>
                  </div>  

                <% end %>

            <% else %>

              <p>There are no applications</p>

            <% end %>

        <% end %>

      </div>

    </div>

  </div>

</div>