<%= provide(:title, 'Job Management Interface') %>

<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; Jobs &rarr; <span><%= @job.title %></span>
  </div>

</div>

<div class="content-wrapper">

  <div class="row">

    <div class="col-8-12">

      <div class="app-container">

        <% @stages.each do |stage| %>

            <h2 class="page-header"><%= stage[:name] %></h2>

            <% if stage[:applications].any? %>

                <% stage[:applications].each do |application| %>

                  <div class="job-widget">
                    <%= link_to admin_job_application_url(@job, application, subdomain: @company.subdomain) do %>
                    <header>
                      <div class="left">
                        <h2><%= application[:name] %></h2>
                      </div>
                      <div class="right">
                        <p><%= application[:phone] %></p><p><%= application[:email] %></p>
                      </div>
                    </header>
                    <% end %>
                    <footer>
                      <ul>
                        <li class="right"><%= link_to 'Download CV', application.resume.url %></li>
                      </ul>
                    </footer>
                  </div>

                <% end %>

            <% else %>

              <p>There are no applications</p>

            <% end %>

        <% end %>

      </div>

    </div>

    <div class="col-4-12">
      <div class="app-container">
        <h2 class="page-header">Job Stats</h2>
        <p><%= @job.applications.count %> Applications</p>
        <p>Posted <%= distance_of_time_in_words(@job.created_at, Time.now) %> ago</p> 
      </div>
      <div class="app-container">
        <h2 class="page-header">Link to this Job</h2>
        <input type="text" value="<%= root_url(subdomain: @company.subdomain) %>jobs/<%= @job.id %>">
        <div class="job-share">
          <a href="http://www.linkedin.com"><i class="socicon-linkedin"></i></a>
          <a href="http://www.facebook.com"><i class="socicon-facebook"></i></a>
          <a href="http://www.twitter.com"><i class="socicon-twitter"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>