<%= provide(:title, 'Job Management Interface') %>

<div class="sub-header">

  <div class="content-wrapper">
    <%= link_to "#{@company.name}", admin_path %> &rarr; Jobs &rarr; <span><%= @job.title %></span>
  </div>

</div>

<div class="content-wrapper">

  <div class="boards">

    <% @stages.each do |stage| %>

      <section class="board" data-stage="<%= stage[:stage] %>">

        <h2><%= stage[:name] %></h2>

        <% if stage[:applications].any? %>

          <ul>
            <% stage[:applications].each do |application| %>
              <li>
                <%= link_to admin_job_application_url(@job, application, subdomain: @company.subdomain) do %>
                  <%= application[:name] %>
                <% end %>
              </li>
            <% end %>
          </ul>

        <% else %>

          <p>There are no applications</p>

        <% end %>

      </section>

    <% end %>

  </div>

</div>