<h1>Listing companies</h1>
<br /><br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Industry</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company %></td>
        <td><%= company.description %></td>
        <td><%= company.industry %></td>
        <td><%= company.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br /><br /><br /><br />

<%= link_to 'New Company', new_company_path, :class => "button" %>
