<div class="content-wrapper">

	<div class="app-container">

		<h2 class="page-header">New Company</h2>

		<%= form_for TempLogo.new, html: { id: 'company_logo_form' } do |f| %>

		  <div class="field">
		    <%= f.label :logo %>
		    <div class="input-right">
		      <%= f.file_field :logo %>
		    </div>
		  </div>

		<% end %>

		<div class="company-logo-wrap hidden"></div>

		<div class="company-colours hidden">
			<h3>Primary Colour</h3>
			<div class="primary-colour"></div>
			<h3>Swatches</h3>
			<div class="swatches"></div>
		</div>

		<%= form_for @company do |f| %>

		  <%= render 'shared/error_list', model: @company %>

		  <%= render 'shared/companies/form', f: f %>

		  <div class="actions">
		    <%= f.submit 'Create Company', class: "button-green" %>
		  </div>

		<% end %>

	</div>

</div>