

<section class="hero">
  <%= image_tag @company.logo_url, class: "company-logo" %>
</section>

<section class="overview" id="overview">
  <div class="intro">
    <h4>About <%= @company.name %></h4>
    <%= @company.description.html_safe %>
  </div>
</section>

<!-- <section class="benefits" id="benefits">
  <div class="intro">
    <h4>Employment Benefits</h4>
  </div>
  <div class="benefit-content">
    <%= @company.benefits.html_safe %>
  </div>
</section> -->

<% if @company.active_subscription %>
  <section class="positions" id="open-positions">
    <div class="intro">
      <h4>Open Positions</h4>
    </div>
    <ul>
    <% @company.jobs.each do |job| %>
        <li><%= link_to job.title, job, subdomain: @company.subdomain %><br /><span><%= job.location %></li>
    <% end %>
    </ul>
  </section>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){

    // -------------------------------------------------------------------------
    // Use Colour Thief to set background colour using the logo
    // -------------------------------------------------------------------------

    var colorsForImage = function($image) {
      var colorThief = new ColorThief();
      var image = $image[0];
      var color = colorThief.getColor(image);
      var palette = colorThief.getPalette(image);
      var colorThiefOutput = {
        rgb: {
          color: color,
          palette: palette
        },
        hex: {
          color: rgbToHex(color[0], color[1], color[2]),
          palette: palette.map(function(item){ return rgbToHex(item[0], item[1], item[2]); })
        }
      };
      return colorThiefOutput;
    };
    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }
    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    var colours = colorsForImage($('.company-logo'));
    $('body').css('background-color', colours['hex']['color']);
    $('h4').css('color', colours['hex']['color']);
    $('a').css('color', colours['hex']['color']);

  });
</script>
