<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @company.subdomain %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
