<section class="hero">
  <h1>Work at <%= @company.name %></h1>
 <!--  <% if @company.active_subscription %>
    <a class="button-blue" href="#">View Open Positions</a>
  <% end %> -->
  <%= image_tag @company.logo_url, class: "company-logo" %>
</section>

<section class="overview" id="overview">
  <div class="intro">
    <h4>About <%= @company.name %></h4>
    <p><%= @company.description.html_safe %></p>
  </div>
</section>

<section class="benefits" id="benefits">
  <div class="intro">
    <h4>Employment Benefits</h4>
  </div>
  <div class="benefit-content">
    <%= @company.benefits.html_safe %>
  </div>
</section>

<% if @company.active_subscription %>
  <section class="positions" id="open-positions">
    <div class="intro">
      <h4>Open Positions</h4>
    </div>
    <ul>
    <% @company.jobs.each do |job| %>
        <li><%= link_to job.title, job, subdomain: @company.subdomain %><br /><span><%= job.location %></li>
    <% end %>
    </ul>
  </section>
<% end %>