<div class="field group">
  <%= f.label :name %>
  <div class="input-right">
    <%= f.text_field :name %>
  </div>
</div>

<div class="field">
  <%= f.label :subdomain %>
  <div class="input-right">
      <%= f.text_field :subdomain, class: "subdomain-input" %> <span>.pinpointhq.com</span>
  </div>
</div>

<div class="field">
  <%= f.label :description %>
  <div class="input-right">
    <%= f.text_area :description, class: "trumbowyg", rows: 5 %>
  </div>
</div>

<div class="field">
  <%= f.label :benefits %>
  <div class="input-right">
    <%= f.text_area :benefits, class: "trumbowyg", rows: 5 %>
  </div>
</div>

<div class="field">
  <%= f.label :industry %>
  <div class="input-right">
    <%= f.collection_select :industry, Company::INDUSTRY, :to_s, :to_s, { prompt: true } %>
  </div>
</div>

<div class="field">
  <%= f.label :location %>
  <div class="input-right">
    <%= f.text_field :location %>
  </div>
</div>

<div class="field">
  <%= f.label :website %>
  <div class="input-right">
    <%= f.text_field :website %>
  </div>
</div>

<%= f.hidden_field :completed, value: 1 %>
<%= f.hidden_field :temp_logo_id %>
<%= f.hidden_field :background_colour %>
<%= f.hidden_field :header_colour %>