<%= render 'layouts/header' %>

<body>

	<header id="topbar">
		<%= link_to dashboard_path do %><div id="logo"><h1>pinpoint</h1></div><% end %>
		<nav id="main">
			<ul>

				<li><%= link_to "My Company", admin_url(subdomain: @company.subdomain) %></li>
				<li><%= link_to "Open Jobs", admin_jobs_url(subdomain: @company.subdomain) %></li>
				<li><%= gravatar_for(current_user) %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

			</ul>
		</nav>
	</header>

	<div id="app-menu">
		<nav>
			<ul>
				<li><i class="icon-briefcase"></i><%#= link_to "My Company", company_path(:id => current_user.company.id) %></li>
				<li><i class="icon-group"></i><%#= link_to "Open Jobs", jobs_path %></li>
			</ul>
		</nav>
	</div>

	<div id="app-container">
		<%= render 'shared/flash_message' %>
		<%= yield %>
	</div>

</body>

<%= render 'layouts/footer' %>
