<%= render 'layouts/header' %>

<body class="application-body">

	<header class="top-bar">

		<%= link_to 'pinpoint', admin_url(subdomain: false), class: 'logo' %>

		<nav class="main-nav">
			<ul>
				<li><%= link_to "Dashboard", admin_url(subdomain: false) %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			</ul>
		</nav>
	</header>

		<%#= render 'shared/flash_message' %>
		<%= yield %>

</body>

<%= render 'layouts/footer' %>
