<!DOCTYPE html>
<html>
<head>
  <title>PinPoint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Typekit -->
  <script src="//use.typekit.net/ten1fot.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>
<body>

	<header id="topbar">
		<div id="logo"><h1>onboard</h1></div>
		<nav id="main">
			<ul>
				<% if current_user.has_company? %>
					<li><%= link_to "My Company", company_path(current_user.company) %></li>
					<li><%= link_to "Open Jobs", company_jobs_path(current_user.company) %></li>
				<% end %>
				<% if user_signed_in? %>
					<li><%= gravatar_for(current_user) %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign Up", register_path, :class => "green_accent" %></li>
					<li><%= link_to "Login", login_path, :class => "blue_accent" %></li>
				<% end %>
			</ul>
		</nav>
	</header>

	<div id="app-menu">
		<nav>
			<ul>
				<li><i class="icon-briefcase"></i><%#= link_to "My Company", company_path(:id => current_user.company.id) %></li>
				<li><i class="icon-group"></i><%#= link_to "Open Jobs", jobs_path %></li>
			</ul>
		</nav>
	</div>

	<div id="app-container">
		<%= render 'shared/flash_message' %>
		<%= yield %>
	</div>

</body>
</html>
